$body-bottom-spacing: 50px;

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

body {
  margin-bottom: $body-bottom-spacing;
}

h1 {
  font-size: 28px;
}

h2 {
  font-weight: normal;
  font-size: 20px;
}

@import './modal';
@import './vue-multiselect';

