@import "~bootstrap/scss/variables";

.multiselect {
  color: $input-color;

  .multiselect__tags {
    border-color: $input-border-color;
    border-radius: $input-border-radius;
    font-size: $input-font-size;

    .multiselect__tag {
      background-color: $primary;
      padding: 5px 25px 5px 10px;
      margin-bottom: 0;
      &-icon {
        &:after {
          color:$light;
        }
        &:hover {
          background: darken($primary, 5%);
        }
      }
    }

    .multiselect__placeholder {
      margin-bottom: 0;
      color: $input-placeholder-color;
      padding: 0;
    }

    .multiselect__input, .multiselect__single {
      line-height: $input-line-height;
      padding: 0;
      margin: 10px 0 0 0;
    }
  }

  .multiselect__option--highlight {
    background-color: $primary;
  }
}