@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~vue-multiselect/dist/vue-multiselect.min.css";

$tag-margin: 3px;

.multiselect {
  color: $input-color;

  .multiselect__tags {
    border-color: $input-border-color;
    border-radius: $input-border-radius;
    font-size: $input-font-size;
    padding: $input-padding-y $input-padding-x;
    min-height: unset;

    .multiselect__tag {
      background-color: $primary;
      margin-top: $tag-margin;
      margin-bottom: -$tag-margin;

      &-icon {
        &:after {
          color: $light;
        }

        &:hover {
          background: darken($primary, 5%);
        }
      }
    }

    .multiselect__placeholder {
      margin-bottom: 0;
      color: $input-placeholder-color;
      padding: 0;
    }

    .multiselect__input, .multiselect__single {
      line-height: $input-line-height;
      padding: 0;
      margin-bottom: 0;
    }
  }

  .multiselect__select {
    background: none !important;
  }

  .multiselect__option--highlight {
    background-color: $primary;
  }
}

.multiselect--disabled {
  background: none !important;
}